* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  width: 50rem;
  height: 20rem;
  border: 1px solid #000;
}

.flex-container > div {
  width: 5rem;
  /* height: 5rem; */
  background: #ccc;
  border: 1px solid #999;
  text-align: center;
}

#flex1 {
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

#box1 {
  order: 4;
  align-self: flex-end;
  /* flex: 0 1 20rem; */
  /* flex: 0 0 10rem; */
}
#box2 {
  order: 5;
  /* flex-grow: 5; */
}
#box3 {
  order: 1;
}
#box4 {
  order: 3;
}
#box5 {
  order: 2;
}
