
/* @import url('https://fonts.googleapis.com/css?family=Slabo+27px'); */

body {
  font-family: "Times New Roman", "Slabo 27px", Arial, Helvetica, sans-serif;
}

/* adjacent selector */
p + p {
  border-top: 1px solid black;
  margin-top: 5px; 
}

.display > div {
  padding: 2rem;
  border: 1px solid black;
  margin: 1rem;
}
#block { 
  display: block;
}
#inline {
  display: inline;
}
#inline-block {
  display: inline-block;
}
#none {
  display: none;
}

.hidden {
  visibility: hidden;
  background: blue;
  color: white;
}

p.some-classname {
  padding: 20px;
  border: 1px solid black;
}
#line-height {
  line-height: 10em;
}
#line-height * {
  border: 1px solid black;
}

/* decendent selector */
p span {
  background-color: orange;
  margin-top: 500px;
  height: 1000px;
  /* display: none; */
}
p[data-foo] {
  color: purple;
}
p:first-letter {
  font-size: 5em;
  font-weight: 800;
  font-style: italic;
}

.text-decoration-example {
  text-decoration:green wavy line-through;
}

#ordered-list {
  list-style-type: upper-roman;
}
#unordered-list {
  background-color: rgba(255, 0, 0, 1);
  border-style: solid;
  border-color: black;
  border-width: 10px;
  border-radius: 30px/70px;
  padding: 50px;
  list-style-position: outside;
  /* list-style-type: square; */
  /* list-style-image: url(../week-4/treefrog.jpg); */
  font-weight: bold;
  /* float: left; */
}
#unordered-list li {
  background-color: #ccc;
}
#unordered-list:after {
  content: "this comes after the ul";
}

.highlight {
  font-size: 3em !important;
}
.important {
  font-size: 2em;
}

#borderbox {
  width: 600px;
  border: 1px solid red;
  margin: 50px;
  padding: 0;
  overflow: auto;
}
#borderbox > div {
  margin: 0;
  padding: 20px;
  width: 200px;
  border: 1px solid blue;
  float: left;
  box-sizing: border-box;
}

#uppercase { text-transform: uppercase; }
#lowercase { text-transform: lowercase; }
#capitalize { text-transform: capitalize; }

#html-entities {
  font-size: 5em;
}

#zindex {
  position: absolute;
  top: 0;
  right: 0;
  height: 100px;
  width: 100px;
}

/* child selector */
#zindex > div {
  position: absolute;
  height: 100px;
  width: 100px;
}

.red {
  background-color: red;
  right: 20px;
  top: 20px;
  z-index: 2;
}
.green {
  background-color: green;
  right: 40px;
  top: 40px;
  z-index: 1;
}
.blue {
  background-color: blue;
  right: 60px;
  top: 60px;
  z-index: 3;
}

.position {
  /* position: relative; */
  /* top: 100px;
  left: 100px; */
  width: 100%;
  height: 400px;
  border: 1px solid red;
}
.position > div {
  border: 1px solid black;
  height: 50px;
  width: 50px;
}

#float {
  float: right;
}
#absolute {
  position: absolute;
  bottom: 0;
  left: 0;
}
#fixed {
  position: fixed;
  top: 0;
  right: 0;
  height: 200px;
  width: 200px;
}